.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    color: #217bd4;
    text-transform: uppercase;
    background-color: #263252;
    background-image: url('../../public/grafismo.svg');
    background-attachment: fixed;
  }